* {
    margin: 0px;
    padding: 0px;
}


p {
    color: rgb(35, 51, 58);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../images/background/body_blocks/body_gradient.jpg');
    background-color: #fff;
    opacity: 1;

}


header {
    border:0px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    border: 0px solid black;
    background: rgb(43, 26, 26);
}

content {
    margin-top: 35px;
    display: flex;
}

.main_block {
    border: 0px solid black;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 5px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.23);
    border-bottom: 1px solid black;
}
.wrapper_menu {
    position: relative;
    display: flex;
    width: 1400px;
    margin: 0px auto;
    justify-content: space-between;
    border: 0px solid black;
}

.block_menu_left {
    display: flex;
    position: relative;
    flex-direction: row;
    border: 0px solid black;
}

.block_menu_right {
    display: flex;
    position: relative;
    flex-direction: row;
    border: 0px solid black;
}


.menu_link {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.1s;
    list-style: none;
    text-decoration: none;
    color: rgb(224, 181, 181);
    height: 50px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;

}

.menu_link:hover {
    text-decoration: none;
    color: rgb(238, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
    background-color: rgb(92, 63, 63) transparent;
}

.icon_menu {
    width: 25px;
    height: 25px;
    padding-left: 3px;
    margin-right: -7px;
}
/* подсветка линков в меню сверху
.link_menu_with_icon {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.link_menu_with_icon:hover {
    border: 0px solid black; 
    background-color: rgba(211, 151, 47, 0.808); 
    border-radius: 20px;
} */
.wrapper_left_menu_link_first_step {
    border: 0px solid black; 
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    transition: 0.2s;
    padding-top: 0px;
    padding-bottom: 0px;
}
.wrapper_left_menu_link_first_step:hover {
    box-shadow: -15px 0px 0px 0px rgb(251,191,87);
    background-image: linear-gradient(to right, rgb(251,191,87), rgb(245,245,245));
}
.left_menu_link_first_step {
    margin-left: 15px;
    color: rgb(52,58,64);
}
.left_menu_link_first_step:hover {
    text-decoration: none;
    color: rgb(219, 71, 71);
}

.btnfos {
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-transform: uppercase;
    height: 70px;
    align-items: center;
    border: 2px solid yellow;
    text-decoration: none;
}
.btnfos-link {
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
  }
  
  .btnfos-link:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(83, 123, 243, 0.5), 0 0 20px rgba(83, 123, 243, 0.2);
    outline-offset: 8px;
    outline-color: rgba(253, 242, 242, 0.856);
    text-shadow: 1px 1px 2px #6888e9;
    color: white;
    text-decoration: none;
  }

  .header-link-marg {
      margin-right: 20px;
  }

  .header-background {
      background-color: #343A40;
      border-radius: 5px;
  }
