.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


@media (max-width:893px) {
    .media_width {
        flex-direction: column !important;
        max-width: 100% !important;
        margin: 0px auto !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .div_avatar_profile_engraver {
        display: flex;
        margin:0px auto;
    }
    .left_menu_link_media {
        min-height: 100% !important;
    }
    .left_menu_link_media div {
        justify-content: center;
    }
    .topic_discuss_media {
        min-height: 300px;
        max-height: 100% !important;
    }
    .topic_discuss_media {
        height: 400px !important;
        display: flex !important;
        flex-direction: column;
    }
}

@media (max-width:415px) {
    .media_width {
        margin-top: 10px !important;
    }
    #avatar_frame_wrapper {
        margin: 0px auto !important;
    }
}
